USE [master]
GO
/****** Object:  Database [ThongKe_XuanQuang]    Script Date: 7/29/2025 4:45:08 PM ******/
CREATE DATABASE [ThongKe_XuanQuang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThongKe_XuanQuang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LVHDEV\MSSQL\DATA\ThongKe_XuanQuang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ThongKe_XuanQuang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LVHDEV\MSSQL\DATA\ThongKe_XuanQuang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThongKe_XuanQuang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThongKe_XuanQuang]
GO
/****** Object:  Table [dbo].[digital_technology]    Script Date: 7/29/2025 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[digital_technology](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dich_vu_cong_tt] [nvarchar](50) NOT NULL,
	[doi_cong_nghe_so] [int] NOT NULL,
	[ty_le_dien_thoai] [nvarchar](50) NOT NULL,
	[ty_le_internet] [nvarchar](50) NOT NULL,
	[so_nguoi_biet_cong_nghe_so] [int] NULL,
	[year] [int] NOT NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Economies]    Script Date: 7/29/2025 4:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Economies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[so_ho_ngheo] [int] NULL,
	[so_ho_can_ngheo] [int] NULL,
	[thu_nhap_binh_quan] [float] NULL,
	[so_thon] [int] NULL,
	[so_ho_kinh_doanh_nho_le] [int] NULL,
	[year] [int] NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[economy]    Script Date: 7/29/2025 4:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[economy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[so_ho_ngheo] [int] NOT NULL,
	[so_ho_can_ngheo] [int] NOT NULL,
	[thu_nhap_binh_quan] [float] NOT NULL,
	[so_thon] [int] NOT NULL,
	[so_ho_kinh_doanh_nho_le] [int] NOT NULL,
	[year] [int] NOT NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[education_healthcare]    Script Date: 7/29/2025 4:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[education_healthcare](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[so_tram_y_te] [int] NOT NULL,
	[so_phong_kham_tu_nhan] [int] NOT NULL,
	[so_luong_can_bo_y_te] [int] NOT NULL,
	[ty_le_bhyt] [nvarchar](50) NOT NULL,
	[tong_so_truong_hoc] [int] NOT NULL,
	[tong_so_hoc_sinh] [int] NOT NULL,
	[truong_chuan_qg] [int] NOT NULL,
	[year] [int] NOT NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ethnic_groups]    Script Date: 7/29/2025 4:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ethnic_groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_dan_toc] [nvarchar](255) NOT NULL,
	[so_luong] [int] NOT NULL,
	[year] [int] NOT NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[infrastructure]    Script Date: 7/29/2025 4:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[infrastructure](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[duong_gtnt_cung_hoa] [int] NOT NULL,
	[nha_kien_co] [int] NOT NULL,
	[ty_le_dien] [nvarchar](50) NOT NULL,
	[ty_le_nuoc_sach] [nvarchar](50) NOT NULL,
	[year] [int] NOT NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[overview]    Script Date: 7/29/2025 4:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[overview](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dien_tich] [float] NOT NULL,
	[dan_so] [int] NOT NULL,
	[tong_so_dan_toc] [int] NOT NULL,
	[ton_giao] [nvarchar](255) NOT NULL,
	[year] [int] NOT NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Overviews]    Script Date: 7/29/2025 4:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Overviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dien_tich] [float] NULL,
	[dan_so] [int] NULL,
	[tong_so_dan_toc] [int] NULL,
	[ton_giao] [nvarchar](255) NULL,
	[year] [int] NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schools]    Script Date: 7/29/2025 4:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schools](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_truong] [nvarchar](255) NOT NULL,
	[cap_truong] [nvarchar](255) NOT NULL,
	[so_luong_hoc_sinh] [int] NOT NULL,
	[dat_chuan_qg] [nvarchar](255) NOT NULL,
	[year] [int] NOT NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/29/2025 4:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[villages]    Script Date: 7/29/2025 4:45:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[villages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_thon] [nvarchar](255) NOT NULL,
	[so_htx] [int] NOT NULL,
	[quy_mo] [nvarchar](255) NOT NULL,
	[linh_vuc_hoat_dong] [nvarchar](255) NOT NULL,
	[mo_hinh_kinh_te_hieu_qua] [nvarchar](255) NOT NULL,
	[year] [int] NOT NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[digital_technology]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[Economies]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[economy]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[education_healthcare]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ethnic_groups]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[infrastructure]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[overview]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[Overviews]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[schools]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[villages]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
USE [master]
GO
